<section class="content-intro">
    <div class ="content-inner">
        <div class="content">
            <h1>{{ title }}</h1>
        </div>
    </div>
</section>
<section class="background-intro">
    <div class ="background-inner">
    </div>
</section>
<div class="bottom-sections">
    <app-fitness id="fitness-section" class="bottom-section"></app-fitness>
    <app-coding id="coding-section" class="bottom-section"></app-coding>
    <app-contact id="contact-section" class="bottom-section"></app-contact>
</div>

