<section class="content-intro">
    <div class ="content-inner">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
<section class="background-intro">
    <div class ="background-inner">
    </div>
</section>
<div class="home-button">
    <a routerLink="home">
        <img src="/assets/images/home.png">
    </a>
</div>
<div class="bottom-arrow">V</div>
<div class="bottom-sections">
    <a routerLink="fitness">
        <div id="fitness-section" class="bottom-section">
            <h1>Fitness</h1>
        </div>
    </a>
    <a routerLink="projects">
        <div id="coding-section" class="bottom-section">
            <h1>Projects</h1>
        </div>
    </a>
    <a routerLink="contact">
        <div id="contact-section" class="bottom-section">
            <h1>Contact</h1>
        </div>
    </a>
</div>