.background-intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('/assets/images/wide-cgy-skyline.jpg') no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
    z-index: 5;
    position: relative;
}

.background-intro .background-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content-intro {
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;
    position: absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.content-intro .content-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 20px #000;
    font-size: 500%;
}

@media screen and (max-width: 760px) {
    .content h1 {
        font-size: 250%;
    }
}

.bottom-sections {
    width: 100%;
    margin: 0px auto;
    position: absolute;
    z-index: 15;
    bottom: 0;
}

.bottom-section {
    width: 33.33%;
    height: inherit;
    float: left;
    box-sizing: border-box;
    bottom: 0;
}

@media only screen and (max-width: 800px){
    .bottom-section {
        width: 100%;
        clear: both;
        margin: auto;
    }
}

#fitness-section {
    background: url('/assets/images/fitness.jpeg') no-repeat 50% 50%;
    background-size: cover;
}

#coding-section {
    background: url('/assets/images/laptop_code.jpeg') no-repeat 50% 50%;
    background-size: cover;
}

#contact-section {
    background: url('/assets/images/moraine_lake.jpg') no-repeat 50% 50%;
    background-size: cover;
}