* {
    text-decoration: none;
}

.portrait {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: url('/assets/images/portrait.jpg');
    background-size: cover;
    margin: auto;
}